@font-face {
    src: url("./fonts/WarblerVariable[opsz,wght]-Edu.woff2") format("woff2"),
         url("./fonts/WarblerVariable-Italic[opsz\,wght]-Edu.woff") format("woff");
    font-family: "warbler variable";
    font-style: normal;
    font-weight: 100 900;
    }
    
@font-face {
    font-family: "warbler display";
    src: url("./fonts/WarblerDisplay-Bold-Edu.woff2") format("woff2");
    font-weight: 700;
}
@font-face {
    font-family: "warbler display";
    src: url("./fonts/WarblerDisplay-Regular-Edu.woff2") format("woff2");
    font-weight: 400;
}
@font-face {
    font-family:"warbler text";
    src: url("./fonts/WarblerText-Regular-Edu.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family:"warbler text";
    src: url("./fonts/WarblerText-Italic-Edu.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
    body{
    margin: 0;
    background-color: #F4F1E8;
    color: #6B7450;
    font-family: "warbler text", serif;
}
img{
    display: block;
    max-width: 100%;
}
main {
    width: min(100% - 3rem, 78rem);
    margin-inline: auto;
}
section {
    margin-block: 7.5rem;
}
h1, h2, h3, p {
    margin: 0;
}
.hero h1 {
    font-family: "warbler variable", serif;
    font-size: clamp(4.5rem, 11vw, 8.5rem);
    font-weight: 400;
    letter-spacing: 0.055em;
    color: #384225;
    animation: heroweightChange 5s infinite;
    line-height: 0.9;
    margin: 0;
}
.hero-initial {
    font-size: 1.5em;
    display: inline-block;
    line-height: 0.82;
    margin-right: -0.19em;
}
.hero {
    position: relative;
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
    padding-bottom: clamp(8rem, 20vh, 14rem);
    background-color: #B6C184;
    overflow: visible;
    margin: 0;
   
}
.hero-content {
   padding-top: 18rem;
}
.hero::before {
    content: "";
    position: absolute;
    top: -10px;
    width: 101%;
    height: 140%;
    background-image:url("./assets/lace-hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
     opacity: 0.90;
    pointer-events: none;
}
.hero >*{
    position: relative;
    z-index: 1;
}
.about-specimen {
    margin-top: 18rem;
}